.gui-editor-button {
  padding: 0.625rem 2.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  // http://www.outlinenone.com/
  // It looks bad though
  outline: none;
}

@mixin make-button($background) {
  background-color: rgba($color: $background, $alpha: 0.7);

  &:hover {
    background-color: $background;
  }
}