@import '../components/button.scss';

.gui-general-editor {
  .gui-element-copy {
    @include make-button(#BA68C8);
    margin: 0 1rem 0 0;
  }

  .gui-element-delete {
    @include make-button(#ef5350);
  }

  .gui-editor-other-settings {
    margin: 3rem 0;
  }

  .gui-toggle-input {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.3125rem 0;
  }

  .gui-split-input {
    display: flex;

    div:first-child {
      margin-right: 0.2rem;
    }
  }
}
